<br>
<br>
<br>
<br>

<div class="hello">
<h2>Edit <%= resource_name.to_s.humanize %></h2>
  <div>
  <div style="float: right;">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div class="form-group">
      <% if resource.profile.present? %>
        
          <%= image_tag resource.profile,  style: 'height:10vw;width:10vw;margin-bottom:20px;', class: "rounded-circle" %> 
      <% end %>
       <div>
         <%= f.label :profile %><br>
          <%= f.file_field :profile %>
        </div> 
        <div class="actions">
           <%= f.submit "Update" %>
         </div>
    </div>
  </div>
  <% end %>
  <div style="float: left;">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
   <div class="field">
    First Name:<%= f.text_field :first_name %>
  </div><br>
   <div class="field">
    Last Name:<%= f.text_field :last_name %>
  </div><br>
  <div class="field">
    Mobile:<%= f.text_field :mobile %>
  </div><br>
  <div class="field">
   Email: <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div><br>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
        New password:<%= f.password_field :password %>
  </div><br>

  <div class="field">
      Con_password:<%= f.password_field :password_confirmation %>
  </div><br>

  <div class="field">
   Current_password:<%= f.password_field :current_password %>
  </div><br>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
</p>
</div>
</div>
</div>
<style>
  .hello{
    content: center;
    padding-left: 20%;
    padding-left: 20%;
    background-color: lightgreen;
  }
</style> 